<a href="https://colab.research.google.com/github/Chamchis/likelion_learn_colab/blob/main/KJH_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pwd

'/content'

In [ ]:
print("hello world")

hello world

In [ ]:
a = 1
print(a)

1

In [ ]:
# % 연산자 이용한 포맷팅
name = "lion"
today = "2024-02-21"
now_time = 9
print("멋쟁이 사자는 영어로 like lion")

멋쟁이 사자는 영어로 like lion

In [ ]:
print("멋쟁이 사자는 영어로 like %s"%(name))

멋쟁이 사자는 영어로 like lion

In [ ]:
print("멋쟁이 사자는 영어로 like %s 이고 오늘 날짜는 %s"%(name,today ))

멋쟁이 사자는 영어로 like lion 이고 오늘 날짜는 2024-02-21

In [ ]:
print("멋쟁이 사자는 영어로 like %s 이고 지금시간은 %d시다"%(name,now_time ))

멋쟁이 사자는 영어로 like lion 이고 지금시간은 9시다

In [ ]:
number = 3.14159254475
7
print("파이는 %f"%(number))

파이는 3.141593

In [ ]:
# format 함수
name = "lion"
print("멋쟁이 사자는 영어로 like {}".format(name))

멋쟁이 사자는 영어로 like lion

In [ ]:
man = "강사"
print("멋쟁이 사자는 영어로 like {1}, 나는 {0}이다". format(man,name))

멋쟁이 사자는 영어로 like lion, 나는 강사이다

In [ ]:
number = 3.141592
print("파이 : {0:.2f}".format(number))

파이 : 3.14

In [ ]:
# f-string
name = "여러분"
print(f"안녕하세요! {name}")

안녕하세요! 여러분

In [ ]:
number = 3.141592
print(f"소수 {number:.3f}")

소수 3.142

In [ ]:
!ls

drive  sample_data

In [ ]:
import os

In [ ]:
os.getcwd()

'/content'

In [ ]:
os.chdir('/content/drive/MyDrive/Colab Notebooks/LikeLion_BootCamp/24.02')
print("os.chdir() : ",os.getcwd())

os.chdir() :  /content/drive/MyDrive/Colab Notebooks/LikeLion_BootCamp/24.02

In [ ]:
number

3.141592

# 조건문

In [ ]:
x = 21
y = 10

x / y

2.1

In [ ]:
x // y

2

In [ ]:
x % y

1

In [ ]:
x

21

In [ ]:
x%2

1

In [ ]:
x == y

False

In [ ]:
x != y

True

In [ ]:
x == 21

True

In [ ]:
# 할당 연산자
c = 10
c

10

In [ ]:
c += 1
c

11

In [ ]:
c -= 1
c

10

In [ ]:
x = True
y = False

In [ ]:
x and y

False

In [ ]:
x or y

True

In [ ]:
not x

False

In [ ]:
not y

True

In [ ]:
lions = ['창훈','지현','현수','현미']
'창훈' in lions

True

In [ ]:
'지현' not in lions

False

In [ ]:
x = [1,2,3]
y = [1,2,3]
z = x
z

[1, 2, 3]

In [ ]:
x is y

False

In [ ]:
x is z

True

In [ ]:
x[1] = 100

In [ ]:
y

[1, 2, 3]

In [ ]:
z

[1, 100, 3]

# 조건문!!

In [ ]:
lions = ['창훈','지현','현수','찬미','종룡']
python_team = ['지인','장기','현수']
guest = (input("안녕하세요 이름이 무엇입니까? : "))
# alt+shift+위아래 화살표는 현재 줄 복사
# alt + 화살표는 위아래로 옮기기
if guest in lions:
 print("안녕하세요! lions팀의 {}님".format(guest))
elif guest in python_team:
 print("안녕하세요! python_team의 {}님".format(guest))
else:
 print(f"새롭게 오셨군요! 반갑습니다!! {guest}님")

안녕하세요 이름이 무엇입니까? : 현수
안녕하세요! lions팀의 현수님

In [ ]:
# 라이온팀이고 파이썬 팀인지 체크 #and
# 라이온팀인지
# 파이썬팀인지
# 기타

In [ ]:
lions = ['창훈','지현','현수','찬미','종용']
python_team = ['지인','현서','현수','찬미']
guest = (input("안녕하세요 이름이 무엇입니까? : "))
if guest in lions or guest in python_team: # 라이온팀이거나 파이썬 팀인지 체크 #or
  print("두 팀 모두 속하셨네요")
elif guest in lions: # 라이온팀인지
  print('라이온팀에 속하셨네요')
elif guest in python_team: # 파이썬팀인지
  print("파이썬팀에 속하셨네요")
else: # 기타
  print('환영합니다!!')

안녕하세요 이름이 무엇입니까? : 김준호
환영합니다!!

In [ ]:
total_member = lions+python_team
set(total_member)

{'종용', '지인', '지현', '찬미', '창훈', '현서', '현수'}

In [ ]:
a = '21'
type(a)

str

In [ ]:
number = input("숫자 써주세요")
number, type(number)

숫자 써주세요21

('21', str)

In [ ]:
number1 = input("가격 : ")
number1 = int(number1)
number2 = int(input("낸 돈 : "))
print("거스름돈은 {}원 입니다".format(number1-number2))

가격 : 40000
낸 돈 : 37000
거스름돈은 3000원 입니다

In [ ]:
a = '123'
a

'123'

In [ ]:
float(a)

123.0

# 반복문!!


*   for
*   while

In [ ]:
# for
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
count = 0
while count < 10:
  print(count)
  count += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
a[1:10:2]

[2, 4, 6, 8, 10]

In [ ]:
for i in range(2,10):
  print(i)

2
3
4
5
6
7
8
9

In [ ]:
backend = {"name":"junhoo","기수":9}
for a,b in backend.items():
  print(a)
  print(b)

name
junhoo
기수
9

In [ ]:
backend.keys(),backend.values()

(dict_keys(['name', '기수']), dict_values(['junhoo', 9]))

In [ ]:
# 팩토리얼 구하기
# 5! = 5*4*3*2*1

number = int(input("숫자를 넣어주세요! : "))
output = 1
for i in range(number):
  output *= i+1
  print(i*'*')
print('\n',output)

숫자를 넣어주세요! : 10

*
**
***
****
*****
******
*******
********
*********

 3628800

In [ ]:
count = 0
while count <10:
  print(count)
  count += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
count = 0
while True:
  count += 1
  if count %2 == 1:
    continue
  print(count)
  if count > 10:
    break

2
4
6
8
10
12

In [ ]:
# 빵집 쇼핑
# 메뉴
# 고객이 빵주세요 > 주문
# 주인이 여기 있습니다 > 주기

In [ ]:
menu = ['카스테라','단팥빵','크림빵']
while True:
  print("우리 가게의 메뉴")
  print(menu)
  # 주문하기
  order = input("원하시는 메뉴를 말씀해주세요 : ")
  print("{} 주세요".format(order))
  # 빵주기
  print("{} 여기 있습니다.".format(order))
  break
print("이용해주셔서 감사합니다. ")

우리 가게의 메뉴
['카스테라', '단팥빵', '크림빵']
원하시는 메뉴를 말씀해주세요 : 크림빵
크림빵 주세요
크림빵 여기 있습니다.
이용해주셔서 감사합니다.

In [ ]:
# 배달의 민족 = 라이더
areas = ['서울','경기','부산','대전','대구','광주']
# 배차 지역이 하나씩 나온다
# 내가 배달가고 싶은 지역이면 배차 신청을 누른다
# 배차 신청을 하면 간다
# 퇴근을 누르면 끝
income = 0
for area in areas:
  print(f'{area}로 주문이 나왔습니다. 배송하시겠습니까??')
  answer = input("배송? Y/N/퇴근 : ")
  answer = answer.upper()
  # print(answer)
  if answer =='Y':
    print('{} 지역으로 배송 출발합니다'.format(area))
    income += 10000
  elif answer == 'N':
    print('{} 지역으로 배송하지 않습니다'.format(area))
  else:
    print('퇴근할래요')
    break
print('오늘 하루도 고생하셨습니다!')
if income != 0:
  print('오늘 수익은 %d원입니다'%income)
else:
  print('오늘은 배송하지 않았습니다')

서울로 주문이 나왔습니다. 배송하시겠습니까??
배송? Y/N/퇴근 : y
서울 지역으로 배송 출발합니다
경기로 주문이 나왔습니다. 배송하시겠습니까??
배송? Y/N/퇴근 : n
경기 지역으로 배송하지 않습니다
부산로 주문이 나왔습니다. 배송하시겠습니까??
배송? Y/N/퇴근 : y
부산 지역으로 배송 출발합니다
대전로 주문이 나왔습니다. 배송하시겠습니까??
배송? Y/N/퇴근 : n
대전 지역으로 배송하지 않습니다
대구로 주문이 나왔습니다. 배송하시겠습니까??
배송? Y/N/퇴근 : n
대구 지역으로 배송하지 않습니다
광주로 주문이 나왔습니다. 배송하시겠습니까??
배송? Y/N/퇴근 : n
광주 지역으로 배송하지 않습니다
오늘 하루도 고생하셨습니다!
오늘 수익은 20000원입니다

In [ ]:
# 사용자로부터 n 입력 받기
size = int(input("원하는 정사각형의 크기는? : "))

# 정사각형 출력
for i in range(size):
    for j in range(size):
        print('*', end='')
    print()

원하는 정사각형의 크기는? : 5
*****
*****
*****
*****
*****

# 리스트 컴프리헨션

In [ ]:
a = [0,1,2,3,4,5]
a

[0, 1, 2, 3, 4, 5]

In [ ]:
%%time
number = 1000000
a_for=[]
for i in range(number):
  a_for.append(i)

CPU times: user 139 ms, sys: 22.4 ms, total: 162 ms
Wall time: 208 ms

In [ ]:
%%time
a_comp = [i for i in range(number)]

CPU times: user 66.2 ms, sys: 38.2 ms, total: 104 ms
Wall time: 116 ms

In [ ]:
a_comp = [i for i in range(10)]
a_comp

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a_comp = [i for i in range(10) if i % 2 == 0] # 짝수
a_comp

[0, 2, 4, 6, 8]

In [ ]:
a_comp = [i for i in range(10) if i % 2 != 0] # 홀수
a_comp

[1, 3, 5, 7, 9]

In [ ]:
name = 'Korea'
num = int(input())
name if len(name) > num else "America"

2

'korea'

In [ ]:
# 짝수는 1씩 빼고 싶어 ex) 2 -> 1
# 짝수일때만 리스트에 넣는데 1씩 빼서 넣을게
%%time
a_comp = [i-1 for i in range(10) if i%2==0 ]
a_comp

CPU times: user 78 µs, sys: 0 ns, total: 78 µs
Wall time: 83.9 µs

[-1, 1, 3, 5, 7]

In [ ]:
# 모든 숫자를 넣는데 짝수일때는 1씩 뺴고 싶어
%%time
a_comp = [i-1 if i % 2 == 0 else i for i in range(10)]
a_comp

CPU times: user 25 µs, sys: 3 µs, total: 28 µs
Wall time: 32.7 µs

[-1, 1, 1, 3, 3, 5, 5, 7, 7, 9]

In [ ]:
netplix_dict = {"name":"GameOfThrones","Actor":"Roh"}

In [ ]:
a_dict_comp = {index:index for index in range(8)}
a_dict_comp

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7}

In [ ]:
a_dict_comp = {index:index**2 for index in range(8)}
a_dict_comp

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
# 영화 제목:
movie_titles = [
    "어벤져스: 엔드게임",
    "인셉션",
    "스타워즈: 깨어난 포스",
    "타이타닉",
    "어바웃 타임",
    "라라랜드",
    "어벤져스: 인피니티 워",
    "해리 포터와 마법사의 돌",
    "겨울왕국",
    "매트릭스"
]

# 주인공 이름:
main_characters = [
    "토니 스타크",
    "도미닉 코브",
    "레이",
    "잭 드로즈",
    "팀",
    "세바스찬",
    "토르",
    "해리 포터",
    "엘사",
    "네오"
]

In [ ]:
movie_titles , main_characters

(['어벤져스: 엔드게임',
  '인셉션',
  '스타워즈: 깨어난 포스',
  '타이타닉',
  '어바웃 타임',
  '라라랜드',
  '어벤져스: 인피니티 워',
  '해리 포터와 마법사의 돌',
  '겨울왕국',
  '매트릭스'],
 ['토니 스타크', '도미닉 코브', '레이', '잭 드로즈', '팀', '세바스찬', '토르', '해리 포터', '엘사', '네오'])

In [ ]:
# 출력 : %영화%의 주인공은 %배우% 입니다
for tmp in zip(movie_titles, main_characters):
  print("{} 의 주인공은 {} 입니다".format(tmp[0],tmp[1]))

어벤져스: 엔드게임 의 주인공은 토니 스타크 입니다
인셉션 의 주인공은 도미닉 코브 입니다
스타워즈: 깨어난 포스 의 주인공은 레이 입니다
타이타닉 의 주인공은 잭 드로즈 입니다
어바웃 타임 의 주인공은 팀 입니다
라라랜드 의 주인공은 세바스찬 입니다
어벤져스: 인피니티 워 의 주인공은 토르 입니다
해리 포터와 마법사의 돌 의 주인공은 해리 포터 입니다
겨울왕국 의 주인공은 엘사 입니다
매트릭스 의 주인공은 네오 입니다

In [ ]:
# 출력 : 어벤저스의 주인공은 토니 스타크입니다
for title, character in zip(movie_titles, main_characters):
  print("{}의 주인공은 {}입니다".format(title, character))

어벤져스: 엔드게임의 주인공은 토니 스타크입니다
인셉션의 주인공은 도미닉 코브입니다
스타워즈: 깨어난 포스의 주인공은 레이입니다
타이타닉의 주인공은 잭 드로즈입니다
어바웃 타임의 주인공은 팀입니다
라라랜드의 주인공은 세바스찬입니다
어벤져스: 인피니티 워의 주인공은 토르입니다
해리 포터와 마법사의 돌의 주인공은 해리 포터입니다
겨울왕국의 주인공은 엘사입니다
매트릭스의 주인공은 네오입니다

In [ ]:
# 영화 제목:
movie_titles = [
    "어벤져스: 엔드게임",
    "인셉션",
    "스타워즈: 깨어난 포스",
    "타이타닉",
    "어바웃 타임",
    "라라랜드",
    "어벤져스: 인피니티 워",
    "해리 포터와 마법사의 돌",
    "겨울왕국"
]

# 주인공 이름:
main_characters = [
    "토니 스타크",
    "도미닉 코브",
    "레이",
    "잭 드로즈",
    "팀",
    "세바스찬",
    "토르",
    "해리 포터",
    "엘사",
    "네오"
]

In [ ]:
for tmp in zip(movie_titles,main_characters):
  print(tmp)

('어벤져스: 엔드게임', '토니 스타크')
('인셉션', '도미닉 코브')
('스타워즈: 깨어난 포스', '레이')
('타이타닉', '잭 드로즈')
('어바웃 타임', '팀')
('라라랜드', '세바스찬')
('어벤져스: 인피니티 워', '토르')
('해리 포터와 마법사의 돌', '해리 포터')
('겨울왕국', '엘사')

In [ ]:
a_comp=[i for i in range(6)]
a_comp

[0, 1, 2, 3, 4, 5]

In [ ]:
a_dict_comp={a-1:a+1 for a in range(8)}#{키:밸류 for i in...}
a_dict_comp

{-1: 1, 0: 2, 1: 3, 2: 4, 3: 5, 4: 6, 5: 7, 6: 8}

In [ ]:
# 출력 : %영화%의 주인공은 %배우% 입니다
for tmp in zip(movie_titles, main_characters):
  print("{} 의 주인공은 {} 입니다".format(tmp[0],tmp[1]))

어벤져스: 엔드게임 의 주인공은 토니 스타크 입니다
인셉션 의 주인공은 도미닉 코브 입니다
스타워즈: 깨어난 포스 의 주인공은 레이 입니다
타이타닉 의 주인공은 잭 드로즈 입니다
어바웃 타임 의 주인공은 팀 입니다
라라랜드 의 주인공은 세바스찬 입니다
어벤져스: 인피니티 워 의 주인공은 토르 입니다
해리 포터와 마법사의 돌 의 주인공은 해리 포터 입니다
겨울왕국 의 주인공은 엘사 입니다

In [ ]:
# 피보나치 수열
# 0 1 1 2 3
# fibo[0, 1, 1, 2, ]
# 사용자로부터 n 입력 -> n 번째 피보나치 수

n = int(input("n: "))

# n번째 피보나치 수를 찾기
fibo = [0, 1] # 0, 1 에 더 추가할 예정

for i in range(2, n+1):  #fibo[n]
	fibo.append(fibo[i-2] + fibo[i-1])

print(fibo[n])

n: 7
13

In [ ]:
n = int(input("n: "))

# 소수 찾기
print("1부터", n, "까지의 소수:")
for i in range(2, n + 1):
    cnt = 0
    for j in range(1, i + 1):
        if i % j == 0:
            cnt += 1
    if cnt == 2:
        print(i, end=" ")

n: 10
1부터 10 까지의 소수:
2 3 5 7

In [ ]:
n = int(input("n: "))

# 소수 찾기
print("1부터", n, "까지의 소수:")
for i in range(2, n + 1):
    is_prime = True
    for j in range(2, i):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        print(i, end=" ")

n: 10
1부터 10 까지의 소수:
2 3 5 7

In [ ]:
# 사용자의 나이를 입력받아 성인 여부 판단하기
age = int(input("나이를 입력해주세요"))

if age < 20:
  print('당신은 성인이 아닙니다')
else:
  print('당신은 성인입니다')

나이를 입력해주세요19
당신은 성인이 아닙니다

In [ ]:
# 사용자로부터 3개의 숫자를 입력받아 최대값 찾기

A = int(input("첫번쨰 수를 입력해주세요"))
B = int(input("두번쨰 수를 입력해주세요"))
C = int(input("세번쨰 수를 입력해주세요"))

max_value = A

if max_value < B:
  max_value = B
if max_value < C:
  max_value = C

print(max_value)

첫번쨰 수를 입력해주세요1
두번쨰 수를 입력해주세요2
세번쨰 수를 입력해주세요3
3